<div class="col"><!-- Colonne 1 : En attente -->
  <h4>Réservations en attente :</h4>

<% if pendingBookings.empty? && statuedBookings.empty? %>
  <p>Rien pour le moment... </p>
<% else %>
  <% pendingBookings.flatten.each do |book|%>
    <div class="card-product mb-4">
        <% if book.offer.photo.attached? %>
          <%= cl_image_tag book.offer.photo.key %>
        <% else %>
          <img src="https://res.cloudinary.com/cb-dev/image/upload/v1611257793/buddiest/hey_utz1h9.png" alt="">
        <% end %>
      <div class="card-product-infos">
        <h2><%= book.offer.title %></h2>
        <p>Demandé par : <strong> <%= book.user.first_name %></strong></p>
        <p><strong>Entre le <%= book.date_begin.mday %>/<%= book.date_begin.mon %>/<%= book.date_begin.year%> et le <%= book.date_end.mday %>/<%= book.date_end.mon %>/<%= book.date_end.year%></strong></p>
        <p class="color-status-blue"><strong><%= book.status %></strong></p>
        <%= link_to  "Valider", validate_path(book), method: :patch, class: "btn btn-primary", id: "update-booking", remote: true %>
        <%= link_to  "Refuser", refused_path(book), class: "btn btn-success", method: :patch, remote: true  %>
      </div>
    </div>
  <% end %>
</div> <!-- fin de la colonne -->

<div class="col"><!-- Colonne 2 : Colonne validée-->
  <h4>Réservations validées/refusées:</h4>
  <% statuedBookings.flatten.each do |book|%>
    <div class="card-product mb-4">
        <% if book.offer.photo.attached? %>
          <%= cl_image_tag book.offer.photo.key %>
        <% else %>
          <img src="https://res.cloudinary.com/cb-dev/image/upload/v1611257793/buddiest/hey_utz1h9.png" alt="">
        <% end %>
      <div class="card-product-infos">
        <h2><%= book.offer.title %></h2>
        <p>Demandé par : <strong><%= book.user.first_name %> </strong></p>
        <p><strong>Entre le <%= book.date_begin.mday %>/<%= book.date_begin.mon %>/<%= book.date_begin.year%> et le <%= book.date_end.mday %>/<%= book.date_end.mon %>/<%= book.date_end.year%></strong></p>
        <% if book.status == "Validé" %>
          <p class="color-status-green"><strong><%= book.status %></strong></p>
        <% else %>
          <p class="color-status-purple"><strong><%= book.status %></strong></p>
        <% end %>
          <%= link_to  "Voir l'offre", "/offers/#{book.offer.id}", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
<% end %>
