<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<head>
  <title>Buddiest, dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<hr>
<div class="container bootstrap snippet">
    <div class="row">
  		<div class="col-sm-10"><h1>Bonjour, <%= @user.first_name %> <%= @user.last_name %>, vous êtes magnifique.</h1></div>
    	<div class="col-sm-2"><a href="#" class="pull-right"><img title="profile image" class="img-circle img-responsive" src="app/assets/images/logo.png"></a></div>
    </div>
    <br/>
    <div class="row">
  		<div class="col-sm-3"><!--left col-->


      <div class="text-center">
        <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
        <h5>Changer la photo</h5>
        <input type="file" class="text-center center-block file-upload">
      </div></hr><br>


          <div class="panel panel-default">
            <div class="panel-heading">Bio <i class="fa fa-link fa-1x"></i></div>
            <div class="panel-body"><p>Coucou tout le monde, je suis plutot....mais aussi un peu, et avant....mais gentil..très gentil</p></div>
          </div>


          <ul class="list-group">
            <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Offres</strong></span> <%= @user.offers.count %></li>
            <%# mes offres que j'ai publié %>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Réservation de mes offres</strong></span> 123</li>
            <%# <li class="list-group-item text-right"><span class="pull-left"><strong>Posts</strong></span> 37</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Followers</strong></span> 78</li> %>
          </ul>

          <div class="panel panel-default">
            <div class="panel-heading">Historique de mon activité</div>
            <div class="panel-body">
            	<i class="fa fa-facebook fa-2x"></i> <i class="fa fa-github fa-2x"></i> <i class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i> <i class="fa fa-google-plus fa-2x"></i>
            </div>
          </div>

        </div><!--/col-3-->
    	<div class="col-sm-9">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Editer le profil</a></li>
                <li><a data-toggle="tab" href="#messages">Mes offres</a></li>
                <li><a data-toggle="tab" href="#settings">Réservation de mes offres</a></li>
              </ul>


          <div class="tab-content">
            <div class="tab-pane active" id="home">
            <h4>Vous pouvez éditer votre profil ici, même s'il est déjà super</h4>
                <hr>
                  <form class="form" action="##" method="post" id="registrationForm">
                      <div class="form-group">

                          <div class="col-xs-6">
                              <label for="first_name"><h4>Prénom</h4></label>
                              <input type="text" class="form-control" name="first_name" id="first_name" placeholder="<%= @user.first_name %>" title="enter your first name if any.">
                          </div>
                      </div>
                      <div class="form-group">

                          <div class="col-xs-6">
                            <label for="last_name"><h4>Nom</h4></label>
                              <input type="text" class="form-control" name="last_name" id="last_name" placeholder="<%= @user.last_name %>" title="enter your last name if any.">
                          </div>
                      </div>

                      <div class="form-group">

                          <div class="col-xs-6">
                              <label for="phone"><h4>Téléphone</h4></label>
                              <input type="text" class="form-control" name="phone" id="phone" placeholder="<%= @user.phone_number %>" title="enter your phone number if any.">
                          </div>
                      </div>


                      <div class="form-group">

                          <div class="col-xs-6">
                              <label for="email"><h4>Email</h4></label>
                              <input type="email" class="form-control" name="email" id="email" placeholder="you@email.com" title="enter your email.">
                          </div>
                      </div>
                      <div class="form-group">

                          <div class="col-xs-6">
                              <label for="email"><h4>Adresse</h4></label>
                              <input type="email" class="form-control" id="location" placeholder="<%= @user.address %>" title="enter a location">
                          </div>
                      </div>
                      <div class="form-group">

                          <div class="col-xs-6">
                              <label for="password"><h4>Mot de passe</h4></label>
                              <input type="password" class="form-control" name="password" id="password" placeholder="password" title="enter your password.">
                          </div>
                      </div>
                      <div class="form-group">

                          <div class="col-xs-6">
                            <label for="password2"><h4>Vérifier le mot de passe</h4></label>
                              <input type="password" class="form-control" name="password2" id="password2" placeholder="******" title="enter your password2.">
                          </div>
                      </div>
                      <div class="form-group">
                           <div class="col-xs-12">
                                <br>
                              	<button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Sauvegarder</button>
                               	<button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Annuler</button>
                            </div>
                      </div>
              	</form>

              <hr>

             </div><!--/tab-Mes offres-->
             <div class="tab-pane" id="messages">

               <h4>Vous pouvez éditer vos offres ici, passez une bonne journée</h4>

               <hr>

                <% @offers.each do |offer|%>
                  <div class="card-product">
                    <img src="<%= offer.photos %>" />
                    <div class="card-product-infos">
                      <h2><%= offer.title %></h2>
                      <p><%= offer.description %></p>
                      <br/>
                      <%= link_to  "Voir la page de l'offre", "/offers/#{offer.id}", class: "btn btn-primary" %>
                      <%= link_to  "Editer l'offre", "/offers/#{offer.id}/edit", class: "btn btn-success" %>
                    </div>
                  </div>
                  <br/>
                <% end %>


             </div><!--/Réservation de mes offres-->
             <div class="tab-pane" id="settings">
                <%# <% if @bookings.count == 0 %>
                  <h4>Tiens, personne ne veut de vos sourires pour l'instant</h4>
                  <hr>
              </div><!--/tab-pane-->
          </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->

