<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="homebanner">
      <div class="d-flex flex-column justify-content-center align-items-center homebanner py-5 mb-5">
      <h1 class="masthead-heading mb-0">Buddiest, l'application qui vous redonne le sourire.</h1>
      <h3 class="masthead-subheading mb-0">Partagez un moment d'humanité</h3>

    <div class="search-bar mt-5">
      <form action="/offers">
        <div class="form-group d-flex align-items-center">
          <%# <input id=“search” class=“form-control search-control” name=“query” placeholder=“Chercher une offre” method=“GET”> %>
          <input type="search" class="form-control search-control" name="query" id="search" placeholder="Chercher une offre" method="GET">
          <button type="submit" class="btn btn-success search-btn"> GO </button>
        </div>
      </form>
    </div>
  </div>
    </div>
  </div>
  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>
</header>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="https://previews.123rf.com/images/ozzichka/ozzichka1704/ozzichka170400028/76178922-toile-artistique-dans-le-carr%C3%A9-fond-carr%C3%A9-avec-aquarelle-peinte-%C3%A0-la-main-avec-des-peintures-color%C3%A9es-peinte.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Offrez vous l'éloge que vous méritez</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>

            <%= link_to  "Voir les offres", offers_path, class: "btn btn-success btn-xl rounded-pill mt-5 p-3" %>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="https://www.carrecurieux.be/cameraslide/images/slides/livre2.jpg?1607472000027" alt="">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <h2 class="display-4">Partager votre bonne humeur n'a jamais été aussi simple</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
          <% if user_signed_in? %>
            <%= link_to "Voir les offres", offers_path, class: "btn btn-success btn-xl rounded-pill mt-5 p-3"  %>
          <% else %>
            <%= link_to "S'inscrire", new_user_registration_path, class: "btn btn-success btn-xl rounded-pill mt-5 p-3"  %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="https://cdn.vox-cdn.com/thumbor/qVjMPtyFVT5Dtwl_jSOCj4Y33TM=/1400x1400/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/15980837/elon_musk_tesla_3036.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Devenez le buddiest dont vous révez</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
          <% if user_signed_in? %>
           <%= link_to 'Voir les offres', offers_path, class: "btn btn-sucess btn-xl rounded-pill mt-5 p-3"  %>
          <% else %>
            <%= link_to 'Sinscrire', new_user_registration_path, class: "btn btn-success btn-xl rounded-pill mt-5 p-3"  %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
