
<!-- Navigation -->

  <!-- Header -->
  <div class="d-flex flex-column justify-content-center align-items-center homebanner py-5 mb-5">
    <h1 class="text-white mt-5 mb-2">Buddiest</h1>
    <p class="mb-5 text-white-50">Votre partenaire compliment.</p>
    <div class="search-bar">
      <form action="/offers">
        <div class="form-group d-flex align-items-center">
          <%# <input id="search" class="form-control search-control" name="query" placeholder="Chercher une offre" method="GET"> %>
          <input type="search" class="form-control search-control" name="query" id="search" placeholder="Chercher une offre" method="GET">
          <button type="submit" class="btn btn-success search-btn"> GO </button>
        </div>
      </form>
    </div>
  </div>



  <!-- Page Content -->
  <!-- <div class="container"> -->
    <h3 class="mb-5">Voici quelques offres pour vous donner le sourire ...</h3>
    <div class="content-offer d-flex">


      <div class="cards-offer">

        <% if @offers.empty? %>
          <h2>Désolé, nous n'avons rien trouvé.</h2>
          <p>Voici un sourire à la place</p>
          <img src="https://res.cloudinary.com/cb-dev/image/upload/v1610904406/buddiest/smile-icon.png" alt="">
        <% else %>
          <div class="cards ml-3 mr-3">
            <% @offers.each do |offer| %>
              <% unless offer.user == current_user %>
                  <%= link_to offer_path(offer) do %>
                    <div class="card-product">
                      <% if offer.photo.attached? %>
                        <%= cl_image_tag offer.photo.key, class: "card-img-top" %>
                      <% else %>
                        <img class="card-img-top" src="<%= offer.photos %>" alt="">
                      <% end %>
                      <div class="card-description d-flex flex-column justify-content-between ">
                        <h4><%= offer.title  %></h4>
                        <p><%= offer.description.first(40)...%></p>
                        <span> <%= offer.price_per_hour %> € / heure</span>
                      </div>
                    </div>
                  <% end %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>

      <div id="map"
          class="col-4"
          style="width: 100%;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  <!-- </div> -->




