<div class="homebanner">
  <h1>Buddiest</h1>
  <p>The best way to learn anywhere</p>
</div>

<div class="container-fluid mt-2 mb-5">

<h1>Tous les cours ci-dessous: </h1>

<p>Découvrer les cours disponibles près de chez vous...</p>
  <div class="container">
  <div class="row g-3">
      <% @offers.each do |offer| %>
          <div class="col-md-4">
            <div class="card"> <img src=" <%= offer.photos %> " class="card-img-top">
                <div class="card-body">
                    <div class="d-flex justify-content-between"> <span class="font-weight-bold"><%= offer.title.capitalize! %></span> <span class="font-weight-bold"><%= offer.price_per_hour %> €</span> </div>
                    <p class="card-text mb-1 mt-1"><%= offer.description %></p>
                    <div class="d-flex align-items-center flex-row"> <img src="" width="20"></div>
                </div>
                <hr>
                 <small><%= offer.user.first_name %> vous propose ce cours à partir de <%= offer.price_per_hour %> € par heure...</small>
                <div class="card-body">
                  <div class="text-center buttons">
                    <p> <%= link_to  "Découvrir l'offre", offer_path(offer), class: "btn btn-green" %></p>
                  </div>
                </div>

            </div>
        </div>
      <% end  %>
    </div>
  </div>
</div>
