


<!-- Navigation -->

  <!-- Header -->
  <div class="bg-primary homebanner py-5 mb-5">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 text-white mt-5 mb-2">Buddiest</h1>
          <p class="lead mb-5 text-white-50">Votre partenaire compliment.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Page Content -->
  <div class="container">

    <div class="row">
      <div class="col-md-8 mb-5">
        <h2>Offrez vous un sourire...</h2>
        <hr>
        <% if user_signed_in? %>
        <p>Vous êtes magnifique aujourd'hui. Comme toujours </p>
        <p>La vie est belle et la communuauté buddiest veut partager leurs joies avec vous.</p>

          <%= link_to  "Proposer un sourire", new_offer_path, class: "btn btn-red btn-lg" %>
          <% else %>
        <a class="btn btn-red" href="#">S'inscrire &raquo;</a>
        <% end %>
      </div>
    </div>

    <%# map %>

    <!-- /.row -->

    <div class="row">
        <% @offers.each do |offer| %>
          <div class="col-4 mb-5">
            <div class="card h-100">
              <% if offer.photo.attached? %>
                <%= cl_image_tag offer.photo.key, class: "card-img-top" %>
              <% else %>
                <img class="card-img-top" src="https://source.unsplash.com/random/300x200" alt="">
              <% end %>
              <div class="card-body">
                <h4 class="card-title"><%= offer.title  %></h4>
                <p class="card-text"><%= offer.description  %></p>
                <span> <%= offer.price_per_hour %> €</span>
              </div>
              <div class="card-footer">
                <%= link_to  "En savoir plus", offer_path(offer), class: "btn btn-green" %>
              </div>
            </div>
          </div>
        <% end %>


        <div id="map"
            style="width: 100%;"
            data-markers="<%= @markers.to_json %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>

    </div>
    <!-- /.row -->
   </div>
  <!-- /.container -->



<div class="container">


<div id="map"
      style="width: 100%;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
