<div class="homebanner">
  <h1>Buddiest</h1>
</div>

<div class= "container">
  <h2>Découvrez nos cours...</h2>

  <p>Réservez vos cours près de chez vous.</p>
  <ul class="mt-5">
    <% @offers.each do |offer| %>
      <div class="card-trip pt-5">
        <% if offer.photo.attached? %>
            <%= cl_image_tag offer.photo.key %>
                <% else %>
                  <img src="https://source.unsplash.com/random" alt="">
              <% end %>
        <%# <img src=" <%= offer.photo %>
        <div class="card-trip-infos">
        <div>
          <h2> <%= offer.title %></h2>
          <p> <%= offer.description %></p>
          <p> <%= offer.user.first_name  %></p>
          <p> <%= link_to  "Découvrir l'offre", offer_path(offer), class: "btn btn-green" %></p>
        </div>
            <h2 class="card-trip-pricing"><%= offer.price_per_hour %>€</h2>
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>
      <br/>
    <% end %>
  </ul>
</div>

