<div class="py-5 text-center">
        <h2>Donnez du bonheur à tous vos voisins</h2>
        <p class="lead">Proposez vos services afin de complimenter tous les gens autour de chez vous</p>
        <%# <img class="d-block mx-auto mb-4" src="https://res.cloudinary.com/cb-dev/image/upload/v1610904406/buddiest/smile-icon.png" alt="" width="72" height="72"> %>
  </div>


<div class="container-fluid">
  <div class="row no-gutter">
      <!-- The image half -->
    <div class="col-md-6 d-none d-md-flex">
      <img src="https://res.cloudinary.com/cb-dev/image/upload/v1611254957/buddiest/Gens-heureux_dvvkne.webp" id="create-offer-pic">
    </div>
      <!-- The content half -->
    <div class="col-md-6 bg-light">
      <div class="login d-flex align-items-center py-5">
      <!-- Demo content-->
        <div class="container">
          <div class="row">
            <div class="col-lg-10 col-xl-7 mx-auto">
              <h3>Vous êtes à quelques clics de proposer du bonheur</h3>
              <div class="form-group">
                <%= simple_form_for(@offer) do |f| %>
                <%= f.input :title, label: "Titre de votre offre", placeholder: "Des compliments à foison" %>
                <%= f.input :description, label: "Description", as: :text, placeholder: "Parce que on a tous besoin de sourire de temps en temps, je viens chez vous afin de vous dire oh combien vous êtes génial. D'autre part, en bonus je vous donne quelques ronronnement de mon chat." %>
                <%= f.input :area, label: "A combien de km j'accepte de me déplacer?", placeholder: "50" %>
                <%= f.input :address, label: "Ou je me situe pour proposer cette offre?", placeholder: "12 Rue des gens heureux 49000 HappyCity" %>
                <%= f.input :price_per_hour, label: "Quel est ton taux horaire?" %>
                <%= f.input :photo, as: :file, label: "Choisir une belle photo" %>
                <%= f.submit "Créer votre offre", class: "btn btn-green" %>
                <% end %>
                <br/>
                <%= link_to  "Revenir à la liste des offres", offers_path, class: "btn btn-warning" %>
              </div> <!-- fin form simple form -->
            </div> <!-- fin col lg 10 col xl 7 -->
          </div> <!-- fin row-->
        </div><!-- fin container -->
      </div> <!-- fin div login -->
    </div><!-- fin col md 6 bg light -->
</div> <!-- fin container fluid -->
