<h1>Create a new offer</h1>


<div class="form-group">
  <%= simple_form_for(@offer) do |f| %>
                <%= f.input :title, label: "offer's name" %>
                <%= f.input :description %>
                <%= f.input :area %>
                <%= f.input :address %>
                <%= f.input :photos %>
                <%= f.input :price_per_hour %>
                <%# <%= f.association :user %> %>
                <%= f.submit "Create offer", class: "btn btn-dark" %>
              <% end %>
</div>

<%= link_to  "Back to the list", offers_path %>
