
<% if @offer.photo.attached? %>
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @offer.photo.attached? ? cl_image_path(@offer.photo.key, crop: :fit) : 'https://images.unsplash.com/photo-1490750967868-88aa4486c946' %>">
   <h1><%= @offer.title.upcase %></h1>
</div>
<% else %>
  <div class="card-category" style=" background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1490750967868-88aa4486c946')">
  <h1><%= @offer.title.upcase %></h1>
  </div>
<% end %>

<div class="container">

  <div class="border-bottom pb-3 w-50 d-flex align-items-center mb-2">
    <% if @offer.user.photo.attached? %>
      <%= cl_image_tag @offer.user.photo.key, class: "avatar-large" %>
    <% else %>
        <%= image_tag "https://res.cloudinary.com/cb-dev/image/upload/v1610885202/buddiest/anonymous.jpg", class: "avatar-large" %>
    <% end %>
    <h3 class="pl-3">Proposé par <%= @offer.user.first_name %> </h3>

    <div class="pl-4">
      <% if @offer.user == current_user %>
        <%= link_to destroy_path, method: :delete, class: "btn btn-warning", data: { confirm: "Effacer #{@offer.title}?" } do %>
          <i class="far fa-trash-alt"></i>
        <% end %>
      <% else %>
        <div></div>
      <% end %>
    </div>

  </div>

  <div class="d-flex justify-content-between mt-4">
    <div>
      <div class="offer-card">
        <h2><%= @offer.title %></h2>
        <p> <i class="fas fa-euro-sign"></i> <%= @offer.price_per_hour %>€/h</p>
        <p class="mt-5"><%= @offer.description %></p>
      </div>
    </div>

    <div>
      <div class="form-group form-wrapper booking-card">
        <h5 class="mb-4"><strong>Vous êtes interessé ?</strong></h5>
        <h6>Reservez dès maintenant</h6>
        <%= simple_form_for [@offer, @booking] do |f| %>
          <%= f.input :date_begin, as: :string, label: "Date de début", input_html: {class: "datepicker"}  %>
          <%= f.input :date_end, as: :string, label: "Date de fin", input_html: {class: "datepicker"} %>
          <%= f.submit "Réserver ce cours", class: "btn btn-success btn-block" %>
        <% end %>
      </div>
    </div>
  </div>

  <div>
    <h6>Localisation de l'offre</h6>
  </div>

</div>

