<div class="container">
  <h1>See details of offers :) </h1>

    <div>
      <h2>Title : <%= @offer.title %></h2>
      <span>Description : <%= @offer.description %></span>
      <br/>
      <span> Créé par : <%= @offer.user.first_name %> <%= @offer.user.last_name %>  </span>
      <span> Price per hour : <%= @offer.price_per_hour %></span> <br/>

      <%= link_to  "Back to the list", "/offers" %>
      <br/>
      <br/>

      <% if @offer.user == current_user %>
      <%= link_to "Effacer la mission",
            destroy_path,
            method: :delete,
            data: { confirm: "Effacer #{@offer.title}?" } %>
            <br/>
            <% else %>
              <%=  %>
            <% end %>
      <a class="btn btn-primary" href="/bookings/new" role="button">Book this compliment!</a>

      <div class="form-group">
      <%= simple_form_for [@offer, @booking] do |f| %>
                <%= f.input :date_begin, as: :date, label: "Date de début" %>
                <%= f.input :date_end, as: :date, label: "Date de fin" %>
                <%= f.submit "Demander une offre", class: "btn btn-dark" %>
              <% end %>


<h2> <%= @offer.title %> </h2>
<p> <%= @offer.user.first_name %></p>

    </div>
</div>

